<h1> <%= @list.name %> </h1>
<h4>Bookmarks</h4>

<% bookmarks = @list.bookmarks %>
<div class="row flex-row">
  <div class="col-sm-6">
    <% bookmarks.each do |bookmark| %>
      <% movie_id = bookmark.movie_id %>
      <% movie = Movie.find(movie_id) %>
      <div class="card">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w400<%=movie.poster_url%>" alt="">
        <div class="card-body">
          <div class="card-title">
            <%= movie.title %>
          </div>
          <p class="card-text"><i class="fa-solid fa-message"></i> <em><%= bookmark.comment %></em></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Create a bookmark for this list", new_list_bookmark_path(@list) %>

<br>

<%= link_to "Back to homepage", lists_path %>
